.top_margin {
  margin-top: 30px;
  height: 360px;
}

.icon_margin {
  margin-left: 15px;
}

.time_label {
  font-size: medium;
  padding-left: 15px;
  margin-right: 20px;
}

.description-full-width {
  margin-top: 15px;
  width: 100%;
}
textarea{
  height: 75px;
}

button {
  margin-top: 30px;
}


