.top_margin {
  margin-top: 30px;
  height: 400px;
}

.icon_margin {
  margin-left: 15px;
}

.time_label {
  font-size: medium;
  padding-left: 15px;
  margin-right: 20px;
}

.description-full-width {
  margin-top: 15px;
  width: 100%;
}
textarea{
  height: 75px;
}

button {
  margin-top: 30px;
}

.document {
  margin-top: 25px;
  margin-left: 10px;
}

.title {
  margin-right: 10px;
  font-weight: -5px;
  opacity: 7;
}

.progress_bar {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}


