.flex {
  display: flex;
  justify-content: center;
}

.flex_col {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.card_width{
  width: 800px;
  height: 120%;
}

.content {
  height: 700px;
}
