<div class="flex">
  <div class="flex_col">
    <mat-card class="card_width">
      <mat-card-title><h4>Timesheet Dashboard</h4></mat-card-title>
      <mat-card-content>
        <mat-tab-group class="card_width content">
          <mat-tab label="TimeSheet">
            <app-timesheet-list
              [user]="user"
              [timesheetList]="(timesheetObs | async)!"
              (statusChanged)="loadData()"
            ></app-timesheet-list>
          </mat-tab>
          <mat-tab label="Leaves">
            <app-timesheet-list
              [user]="user"
              [timesheetList]="(leaveObs | async)!"
              (statusChanged)="loadData()"
            ></app-timesheet-list>
          </mat-tab>
          <mat-tab label="Approved">
            <app-timesheet-list
              [user]="user"
              [isApproveTab]="true"
              [timesheetList]="(approvedObs | async)!"
              (statusChanged)="loadData()"
            ></app-timesheet-list>
          </mat-tab>
          <mat-tab label="Declined">
            <app-timesheet-list
              [isDeclineTab]="true"
              [user]="user"
              [timesheetList]="(declinedObs | async)!"
              (statusChanged)="loadData()"
            ></app-timesheet-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
