<div>
  <mat-sidenav-container fullscreen *ngIf="!(loader$ | async)">
    <mat-sidenav #start (click)="start.close()">
      <mat-nav-list>
        <a mat-list-item routerLink="timesheet">
          <mat-icon>av_timer</mat-icon>
          <span class="icon-margin">TimeSheet</span>
        </a>

        <a mat-list-item routerLink="create">
          <mat-icon>add_circle_outline</mat-icon>
          <span class="icon-margin">Add</span>
        </a>
        <a
          mat-list-item
          routerLink="signup"
          *ngIf="authService.isLogout$ | async"
        >
          <mat-icon>person_add</mat-icon>
          <span class="icon-margin">Register</span>
        </a>

        <a
          mat-list-item
          routerLink="login"
          *ngIf="authService.isLogout$ | async"
        >
          <mat-icon>account_circle</mat-icon>
          <span class="icon-margin">Login</span>
        </a>

        <button
          mat-list-item
          (click)="authService.logout()"
          *ngIf="authService.isLoggedIn$ | async"
        >
          <mat-icon>exit_to_app</mat-icon>
          <span class="icon-margin">Logout</span>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
      <div class="toolbar-tools">
        <button mat-icon-button (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="filler"></div>

        <ng-container *ngIf="user$ | async as user">
          <span *ngIf="user.name" class="name"
            >Hi, {{ user.name.split(" ")[0] }}</span
          >
        </ng-container>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <app-loader *ngIf="loader$ | async"></app-loader>
</div>
