<ng-container>
  <div class="card" *ngIf="timesheet">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <span>Created By:</span>
          <span> {{ timesheet.craetedBy }}</span>
        </div>
        <div class="content">
          <span>Start Date:</span>
          <span> {{ timesheet.startDate!.toDate() | date }}</span>
          <span class="time">Start Time:</span>
          <span> {{ timesheet.startTime }}</span>
        </div>
        <div class="content">
          <span>End Date:</span>
          <span> {{ timesheet.endDate!.toDate() | date }}</span>
          <span class="time">End Time:</span>
          <span> {{ timesheet.endTime }}</span>
        </div>
        <div class="flex">
          <div class="description">Description:</div>
          <div class="time">
            {{ timesheet.description }}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="approv">Approve</button>
        <button mat-button class="decline">Decline</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
