<ng-container>
  <div class="card" *ngIf="timesheet">
    <mat-card>
      <mat-card-content>
        <div [ngClass]="timesheet.documentUrl ? 'content_first' : 'content'">
          <span>Created By:</span>
          <span> {{ timesheet.createdByName }}</span>
          <span class="document" *ngIf="timesheet.documentUrl">
            <mat-icon class="download">download</mat-icon>
            <a [href]="timesheet.documentUrl" target="_blank">
              <span>View document</span>
            </a>
          </span>
        </div>
        <div class="content">
          <span>Start Date:</span>
          <span> {{ timesheet.startDate!.toDate() | date }}</span>
          <span class="time">Start Time:</span>
          <span> {{ timesheet.startTime }}</span>
        </div>
        <div class="content">
          <span>End Date:</span>
          <span> {{ timesheet.endDate!.toDate() | date }}</span>
          <span class="time">End Time:</span>
          <span> {{ timesheet.endTime }}</span>
        </div>
        <div class="flex description content">
          <div>Description:</div>
          <div class="time">
            {{ timesheet.description }}
          </div>
        </div>
        <div *ngIf="!user?.isAdmin" class="flex description">
          <div>Status:</div>
          <div class="time">
            {{ timesheet.status }}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="user?.isAdmin && !isApproveTab && !isDeclineTab">
        <button mat-button class="approv" (click)="changeStatus('approved')">
          Approve
        </button>
        <button mat-button class="decline" (click)="changeStatus('declined')">
          Decline
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="user?.isAdmin && isDeclineTab">
        <button mat-button class="approv" (click)="changeStatus('approved')">
          Approve
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="user?.isAdmin && isApproveTab">
        <button mat-button class="decline" (click)="changeStatus('declined')">
          Decline
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
